aiogram
aiohttp
async-timeout
attrs
Babel
beautifulsoup4
certifi
chardet
click
cssselect
feedfinder2
feedparser
filelock
idna
jieba3k
joblib
lxml
multidict
newspaper3k
nltk
numpy
pandas
Pillow
pkg-resources
protobuf
python-dateutil
pytz
PyYAML
regex
requests
requests-file
schedule
sgmllib3k
six
soupsieve
tinysegmenter
tldextract
tqdm
typing-extensions
urllib3
yarl

